<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         beStrictAboutOutputDuringTests="true"
         executionOrder="defects"
         resolveDependencies="true"
         enforceTimeLimit="true"
         defaultTimeLimit="60"
         timeoutForSmallTests="10"
         timeoutForMediumTests="20"
         timeoutForLargeTests="60"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="REDIS_DB" value="15"/>
        <env name="REDIS_CACHE_DB" value="14"/>
        <env name="REDIS_SESSION_DB" value="13"/>
        <env name="FX_DETERMINISTIC" value="true"/>
        <env name="BACKPACK_BASSET_ENABLED" value="false"/>
        <!-- Memory management for tests -->
        <ini name="memory_limit" value="2G"/>
        <ini name="max_execution_time" value="600"/>
        <!-- Disable xdebug for faster tests -->
        <ini name="xdebug.mode" value="off"/>
        <!-- Garbage collection optimization -->
        <ini name="opcache.enable" value="0"/>
        <ini name="opcache.enable_cli" value="0"/>
    </php>
</phpunit>
